body {
    font-family: Arial, sans-serif;
    background-color: #e6f0ff;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #ff8400;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 0;
}

#film-data {
    max-width: 800px;
    margin: 0 auto;
    background-color: #702b00;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #eaf4ff;
}

table th,
table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #ffd9b3;
}


table tr:hover {
    background-color: #ffead0;
}